langchain
langchain-community
langchain-google-genai
google-genai
sentence-transformers
faiss-cpu
qdrant-client
pymupdf
pypdf
streamlit
python-dotenv
pandas
numpy
tqdm
rank-bm25
langfuse
ragas
protobuf